
.container {
    background-color: white; /*#3f9ad6;*/
    ;
    box-shadow: 0 0 15px 4px #3f9ad6;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 20px;
}

input[type=text] {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(198, 65, 65, 0.42);
    border-radius: 10px;
}

.select {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(198, 65, 65, 0.42);
    border-radius: 10px;
}

.textareastuff {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 90%;
    display: block;
    resize: both;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(198, 65, 65, 0.42);
    border-radius: 10px;
    height: 50px;
}

.lastMessage {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    background-color: antiquewhite;
    color: rgba(230, 39, 35, 0.86);
    font-weight: bolder;
    font-size: larger;
    width: 90%;
    resize: both;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(198, 65, 65, 0.42);
    border-radius: 10px;
    height: 20px;
}

input[type=button] {
    /* remove default behavior */
       -webkit-appearance: none;
    /* usual styles */
    padding: 10px;
    border: none;
    background-color: rgba(230, 39, 35, 0.86);
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

h1 {
    padding-top: 10px;
    color: #3f9ad6;
}

scroll-container {
    display: block;
    /*  width: 350px;*/
    height: 100px;
    overflow-y: scroll;
}

scroll-container-lockdown {
    display: block;
    /*  width: 350px;*/
    height: 150px;
    overflow-y: scroll;
}

.content-box {
    columns: 3 auto;
}
